In [1]:
import pandas as pd
import numpy as np
from haversine import haversine

distance = pd.read_csv("C:/Users/Admin/Desktop/전기차충전인프라설치입지선정/Save_Data/전처리데이터.csv", engine='python')

In [2]:
distance.fillna(0, inplace=True)

In [3]:
distance

,gid,주차장,건물1,건물2,건물3,관공서,행정기관,도서관,생산가능인구,전기차,충전소,교통량,유동인구,경도,위도
0,다바928626,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.419890,36.761921
1,다바928625,0.0,0,0,0,0,0,0,0.0,0,0,0.0,137.26,127.419891,36.761020
2,다바928624,0.0,5,0,0,0,0,0,0.0,0,0,0.0,66.22,127.419892,36.760118
3,다바928623,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.419893,36.759217
4,다바928622,0.0,0,0,0,0,0,0,0.0,0,0,0.0,40.98,127.419894,36.758315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64796,다바561511,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.009366,36.657266
64797,다바561510,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.009372,36.656365
64798,다바561509,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.009377,36.655464
64799,다바560512,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.008241,36.658163
64800,다바560511,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.008247,36.657262

In [4]:
distance['거리_전기차'] = 0
distance['거리_충전소'] = 0
distance['거리_교통량'] = 0

In [5]:
distance

,gid,주차장,건물1,건물2,건물3,관공서,행정기관,도서관,생산가능인구,전기차,충전소,교통량,유동인구,경도,위도,거리_전기차,거리_충전소,거리_교통량
0,다바928626,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.419890,36.761921,0,0,0
1,다바928625,0.0,0,0,0,0,0,0,0.0,0,0,0.0,137.26,127.419891,36.761020,0,0,0
2,다바928624,0.0,5,0,0,0,0,0,0.0,0,0,0.0,66.22,127.419892,36.760118,0,0,0
3,다바928623,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.419893,36.759217,0,0,0
4,다바928622,0.0,0,0,0,0,0,0,0.0,0,0,0.0,40.98,127.419894,36.758315,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64796,다바561511,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.009366,36.657266,0,0,0
64797,다바561510,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.009372,36.656365,0,0,0
64798,다바561509,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.009377,36.655464,0,0,0
64799,다바560512,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.008241,36.658163,0,0,0
64800,다바560511,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.008247,36.657262,0,0,0

In [6]:
distance[distance['전기차']==0]

,gid,주차장,건물1,건물2,건물3,관공서,행정기관,도서관,생산가능인구,전기차,충전소,교통량,유동인구,경도,위도,거리_전기차,거리_충전소,거리_교통량
0,다바928626,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.419890,36.761921,0,0,0
1,다바928625,0.0,0,0,0,0,0,0,0.0,0,0,0.0,137.26,127.419891,36.761020,0,0,0
2,다바928624,0.0,5,0,0,0,0,0,0.0,0,0,0.0,66.22,127.419892,36.760118,0,0,0
3,다바928623,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.419893,36.759217,0,0,0
4,다바928622,0.0,0,0,0,0,0,0,0.0,0,0,0.0,40.98,127.419894,36.758315,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64796,다바561511,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.009366,36.657266,0,0,0
64797,다바561510,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.009372,36.656365,0,0,0
64798,다바561509,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.009377,36.655464,0,0,0
64799,다바560512,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.008241,36.658163,0,0,0
64800,다바560511,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.008247,36.657262,0,0,0

In [7]:
(distance.loc[0,'경도'], distance.loc[1, '경도'])

(127.41989029999999, 127.41989129999999)

In [8]:
(distance.loc[0,'경도'], distance.loc[0, '경도'])

(127.41989029999999, 127.41989029999999)

In [9]:
distance2=distance[distance['전기차']!=0]

In [10]:
distance.head()

,gid,주차장,건물1,건물2,건물3,관공서,행정기관,도서관,생산가능인구,전기차,충전소,교통량,유동인구,경도,위도,거리_전기차,거리_충전소,거리_교통량
0,다바928626,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.419890,36.761921,0,0,0
1,다바928625,0.0,0,0,0,0,0,0,0.0,0,0,0.0,137.26,127.419891,36.761020,0,0,0
2,다바928624,0.0,5,0,0,0,0,0,0.0,0,0,0.0,66.22,127.419892,36.760118,0,0,0
3,다바928623,0.0,0,0,0,0,0,0,0.0,0,0,0.0,0.00,127.419893,36.759217,0,0,0
4,다바928622,0.0,0,0,0,0,0,0,0.0,0,0,0.0,40.98,127.419894,36.758315,0,0,0

In [ ]:
for j, jungi in range(len(distance)):
    if 
    lon = distance['경도'][j]

In [12]:
from tqdm import tqdm
#상당히 오래걸림. 알고리즘 최적화 필요


for j in tqdm(range(0, len(distance))):
    for i in range(0, len(distance2)):
        lon = distance['경도'][j]
        lat = distance['위도'][j]
        lon2 = distance2['경도'].reset_index(drop=True)[i]
        lat2 = distance2['위도'].reset_index(drop=True)[i]
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
#         if c <= 500:
#              distance['거리_전기차'][j] = 1
        print(c)
    break

  0%|                                                                                        | 0/64801 [00:00<?, ?it/s]

6876.769540757094
10491.823813449184
12836.952427986294
14983.115003976172
16404.36829274843
16673.220326897164
24406.212398104235
23532.843200189
21957.160188786092
21943.34293188869
21571.656697176983
21990.62527402268
23438.173769584828
23985.86935170111
25525.879372327323
23983.39112751744
23838.659664636427
24438.383018776876
24240.252448759184
27268.655492000493
24673.016191245202
23954.705655563976
25724.97859178441
25954.965173730572
25375.415711091602
25402.94060467633
25219.768813628958
25686.98524920097
30771.13299836605
25963.397500735715
27756.210562627588
26814.15055156514
26587.09227572396
27192.191693886805
28857.940298332374
27918.449398774737
27686.53307677998
28426.739904467413

In [ ]:
distance3=distance[distance['충전소']!=0]

In [ ]:
distance

In [ ]:
for j in tqdm(range(0, len(distance))):
    for i in range(0, len(distance3)):
        lon = distance['경도'][j]
        lat = distance['위도'][j]
        lon2 = distance3['경도'].reset_index(drop=True)[i]
        lat2 = distance3['위도'].reset_index(drop=True)[i]
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
        if c <= 500:
             distance['거리_충전소'][j] = 1

In [ ]:
distance4=distance[distance['교통량']!=0]

In [ ]:
for j in tqdm(range(0, len(distance))):
    for i in range(0, len(distance4)):
        lon = distance['경도'][j]
        lat = distance['위도'][j]
        lon2 = distance4['경도'].reset_index(drop=True)[i]
        lat2 = distance4['위도'].reset_index(drop=True)[i]
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
        if c <= 500:
             distance['거리_교통량'][j] = 1

In [ ]:
distance.to_csv("C:/Users/Admin/Desktop/전기차충전인프라설치입지선정/Save_Data/전처리데이터2.csv",
                header = True, index=False, sep=',', encoding='cp949')

In [ ]:
distance